#container{
position: absolute;
top: 10px;
left: 60px;
height: 250px;
width: 950px; /* 3 images of 150px showing with a 10px margin = 3*(150) + 2*(10) = 470 */
overflow: hidden;
}
 
 
#container img{
position: absolute;
top: 0px;
height: 250px;
width: 150px;
cursor: pointer;
overflow: hidden;
}
 
#carouselLeft{
position: absolute;
top: 100px;
left: 0px;
cursor: pointer;
}

#carouselRight{
position: absolute;
top: 100px;
left: 854px;
cursor: pointer;
}
@media  screen and  (max-width: 991px){
	#container{
	left: 60px;
	width: 635px;
	}
	#carouselLeft{
	left: 0px;
	}
	#carouselRight{
	left: 693px;
	}
}
@media  screen and  (max-width: 810px){
	#container{
	left: 130px;
	width: 470px;
	}
	#carouselLeft{
	left: 65px;
	}
	#carouselRight{
	left: 607px;
	}
}
@media  screen and  (max-width: 740px){
	#container{
	left: 50%;
	-webkit-transform: translate(-235px);
	-moz-transform: translate(-235px);
	-ms-transform: translate(-235px);
	-o-transform: translate(-235px);
	transform: translate(-235px);
	width: 470px;
	}
	#carouselLeft{
		top: 270px;
		left: 34%;
	}
	#carouselRight{
		top: 270px;
		left: 54%;
	}
}
@media  screen and  (max-width: 540px){
	#container{
	-webkit-transform: translate(-155px);
	-moz-transform: translate(-155px);
	-ms-transform: translate(-155px);
	-o-transform: translate(-155px);
	transform: translate(-155px);
	width: 310px;
	}
}
@media  screen and  (max-width: 370px){
	#container{
	left: 50%;
	-webkit-transform: translate(-75px);
	-moz-transform: translate(-75px);
	-ms-transform: translate(-75px);
	-o-transform: translate(-75px);
	transform: translate(-75px);
	width: 150px;
	}
	#carouselLeft{
		height: 40px;
		left: 34%;
	}
	#carouselRight{
		height: 40px;
		left: 54%;
	}
}